Library/robot01/lib/flows/Servo
[{"id":"2909080e.259d08","type":"johnny5","z":"90b5a861.60b688","name":"Servo","func":"var servo = new five.Servo(13);\nvar speeds = {\"forward\": 180, \"backward\": 0, \"stop\": 90};\nnode.on('input', function(msg) {\n    if (Number.isInteger(msg.payload)) {\n        servo.to( msg.payload ); \n    } else {\n        servo.to( speeds[msg.payload] ); \n    }\n   node.send(msg);\n});\n\n","board":"5f431051.12ae1","noerr":0,"x":213.26666259765625,"y":288.26666259765625,"wires":[["22060814.48b5b","3a844559.79c862"]]},{"id":"18361dc8.b29c8a","type":"delay","z":"90b5a861.60b688","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":317.5,"y":120,"wires":[["18c70964.92b44f"]]},{"id":"5833aaf0.a46974","type":"inject","z":"90b5a861.60b688","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":118.5,"y":94,"wires":[["2909080e.259d08"]]},{"id":"d42720fc.1e4748","type":"delay","z":"90b5a861.60b688","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":529,"y":105,"wires":[["9a1b0d4b.9f7d88"]]},{"id":"22060814.48b5b","type":"template","z":"90b5a861.60b688","name":"180","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"forward","x":278.5,"y":49,"wires":[["18361dc8.b29c8a"]]},{"id":"71cffa27.691ef4","type":"template","z":"90b5a861.60b688","name":"0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"stop","x":479,"y":52,"wires":[["d42720fc.1e4748"]]},{"id":"18c70964.92b44f","type":"johnny5","z":"90b5a861.60b688","name":"Servo","func":"var servo = new five.Servo(13);\nvar speeds = {\"forward\": 180, \"backward\": 0, \"stop\": 90};\nnode.on('input', function(msg) {\n    if (Number.isInteger(msg.payload)) {\n        servo.to( msg.payload ); \n    } else {\n        servo.to( speeds[msg.payload] ); \n    }\n   node.send(msg);\n});\n\n","board":"5f431051.12ae1","noerr":0,"x":390,"y":271,"wires":[["71cffa27.691ef4"]]},{"id":"9a1b0d4b.9f7d88","type":"johnny5","z":"90b5a861.60b688","name":"Servo","func":"var servo = new five.Servo(13);\nvar speeds = {\"forward\": 180, \"backward\": 0, \"stop\": 90};\nnode.on('input', function(msg) {\n    if (Number.isInteger(msg.payload)) {\n        servo.to( msg.payload ); \n    } else {\n        servo.to( speeds[msg.payload] ); \n    }\n   node.send(msg);\n});\n\n","board":"5f431051.12ae1","noerr":0,"x":578,"y":269,"wires":[[]]},{"id":"3a844559.79c862","type":"debug","z":"90b5a861.60b688","name":"","active":true,"console":"false","complete":"false","x":337.5,"y":346,"wires":[]},{"id":"5f431051.12ae1","type":"nodebot","z":"","name":"Robot 01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.20","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""}]