Library/robot01/lib/flows/sample/10secDrive
[{"id":"6b7f3496.d937cc","type":"subflow","name":"R Bumped","info":"Sends a signal when ther right bumper is bumped","in":[],"out":[{"x":236.26666259765625,"y":421.26666259765625,"wires":[{"id":"d96792b3.43de","port":0}]}]},{"id":"1b492cf0.6e4d93","type":"gpio in","z":"6b7f3496.d937cc","name":"Right Bumper","state":"INPUT","samplingInterval":"300","pin":"4","board":"a0f737e1.294fa","x":85.26666259765625,"y":383.26666259765625,"wires":[["d96792b3.43de"]]},{"id":"d96792b3.43de","type":"switch","z":"6b7f3496.d937cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":106.26666259765625,"y":421.26666259765625,"wires":[[],[]]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.18","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"2f230e36.0e2a72","type":"subflow","name":"L Bumped","info":"Sends signal when the left bunper is bumped","in":[],"out":[{"x":218.3333282470703,"y":229.566650390625,"wires":[{"id":"96052555.b4f39","port":0}]}]},{"id":"8aaefb11.6f09f8","type":"gpio in","z":"2f230e36.0e2a72","name":"Left Bumper","state":"INPUT","samplingInterval":"300","pin":"5","board":"a0f737e1.294fa","x":80.33331298828125,"y":176.0333251953125,"wires":[["96052555.b4f39"]]},{"id":"96052555.b4f39","type":"switch","z":"2f230e36.0e2a72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":88.33332824707031,"y":229.566650390625,"wires":[[],[]]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.18","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"989e88d.2400f78","type":"inject","z":"76efe0c5.12bb9","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86.33331298828125,"y":98.3666763305664,"wires":[["f2e2a2ce.0e95c8","8030503.e138c3","37ad8419.8f16fc"]]},{"id":"9891af37.8ac7f8","type":"gpio out","z":"76efe0c5.12bb9","name":"Right","state":"SERVO","pin":"2","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"a0f737e1.294fa","x":510.33331298828125,"y":180.33331298828125,"wires":[]},{"id":"a460bdb1.e8e278","type":"delay","z":"76efe0c5.12bb9","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":297.33331298828125,"y":53.36665344238281,"wires":[["9891af37.8ac7f8","94781c9c.ddc0a"]]},{"id":"f2e2a2ce.0e95c8","type":"template","z":"76efe0c5.12bb9","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":150.33331298828125,"y":54.899993896484375,"wires":[["a460bdb1.e8e278"]]},{"id":"8030503.e138c3","type":"template","z":"76efe0c5.12bb9","name":"Left Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":280.26666259765625,"y":99.26667022705078,"wires":[["94781c9c.ddc0a"]]},{"id":"94781c9c.ddc0a","type":"gpio out","z":"76efe0c5.12bb9","name":"Left","state":"SERVO","pin":"15","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"a0f737e1.294fa","x":509.26666259765625,"y":114.26667022705078,"wires":[]},{"id":"37ad8419.8f16fc","type":"template","z":"76efe0c5.12bb9","name":"Right Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":286.26666259765625,"y":139.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"3731a27e.3bd936","type":"template","z":"76efe0c5.12bb9","name":"Right Backward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":292.26666259765625,"y":402.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"d3bb679c.269c58","type":"delay","z":"76efe0c5.12bb9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":102.26666259765625,"y":287.26666259765625,"wires":[["2d89b0a8.02c128","ae5d0ebe.43c608"]]},{"id":"2d89b0a8.02c128","type":"template","z":"76efe0c5.12bb9","name":"Right Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":292.26666259765625,"y":307.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"ae5d0ebe.43c608","type":"template","z":"76efe0c5.12bb9","name":"Left Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":282.26666259765625,"y":266.26666259765625,"wires":[["94781c9c.ddc0a"]]},{"id":"880a54ce.546938","type":"template","z":"76efe0c5.12bb9","name":"Left Backward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":290.20001220703125,"y":185.5,"wires":[["94781c9c.ddc0a"]]},{"id":"23c7872e.0d8fc","type":"delay","z":"76efe0c5.12bb9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":117.20001220703125,"y":478.5,"wires":[["a61e7ff4.71f5b","fac54ef0.295398"]]},{"id":"a61e7ff4.71f5b","type":"template","z":"76efe0c5.12bb9","name":"Right Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":293.20001220703125,"y":485.5,"wires":[["9891af37.8ac7f8"]]},{"id":"fac54ef0.295398","type":"template","z":"76efe0c5.12bb9","name":"Left Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":283.20001220703125,"y":444.5,"wires":[["94781c9c.ddc0a"]]},{"id":"8e378a0d.62335","type":"inject","z":"76efe0c5.12bb9","name":"Stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.26666259765625,"y":529.2666625976562,"wires":[["2da729ea.cf5fb6"]]},{"id":"2da729ea.cf5fb6","type":"template","z":"76efe0c5.12bb9","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":327.26666259765625,"y":540.2666625976562,"wires":[["94781c9c.ddc0a","9891af37.8ac7f8"]]},{"id":"f511767f.73637","type":"subflow:2f230e36.0e2a72","z":"76efe0c5.12bb9","name":"","x":94.33332061767578,"y":202.79998779296875,"wires":[["d3bb679c.269c58","880a54ce.546938","652e0a57.609e14"]]},{"id":"15d6826b.95ed9e","type":"subflow:6b7f3496.d937cc","z":"76efe0c5.12bb9","x":95.76666259765625,"y":402.26666259765625,"wires":[["23c7872e.0d8fc","3731a27e.3bd936","b2baba0.0b75d48"]]},{"id":"652e0a57.609e14","type":"template","z":"76efe0c5.12bb9","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":264.26666259765625,"y":222.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"b2baba0.0b75d48","type":"template","z":"76efe0c5.12bb9","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":262.26666259765625,"y":367.26666259765625,"wires":[["94781c9c.ddc0a"]]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.18","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""}]