Library/robot01/lib/flows/sample/drawHeart
[{"id":"c25da227.e8ccc","type":"johnny5","z":"7d9d09b2.9bb21","name":"Draw","func":"var servo = new five.Servo(13);\nvar speeds = {\"forward\": 180, \"backward\": 0, \"stop\": 90};\n\nvar rotate = function(pixels) {\n    var output = [\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"];\n    for (i=0; i<8; i++) {\n        output[i] = pixels[7].substr(i,1) + pixels[6].substr(i,1) + pixels[5].substr(i,1) + pixels[4].substr(i,1) + pixels[3].substr(i,1) + pixels[2].substr(i,1) + pixels[1].substr(i,1) + pixels[0].substr(i,1);\n    }\n    return output;\n}\n\nnode.on('input', function(msg) {\n    var matrix = new five.Led.Matrix({\n    pins: {\n      data: 14,\n      clock: 13,\n      cs: 12\n    },\n    devices: 1\n  });\n\n  var heart = [\n    \"10000110\",\n    \"10000111\",\n    \"11100101\",\n    \"00000000\",\n    \"00000000\",\n    \"00011100\",\n    \"00011000\",\n    \"00011100\"\n  ];\n  msg.payload = rotate(heart);\n  matrix.draw(rotate(heart));\n  node.send(msg);\n});","board":"f60cd17b.43b278","noerr":0,"x":781.0833129882812,"y":161.08334350585938,"wires":[["88b82247.6d9a6"]]},{"id":"614ce165.9d184","type":"inject","z":"7d9d09b2.9bb21","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":480.316650390625,"y":197.81668090820312,"wires":[["c25da227.e8ccc"]]},{"id":"88b82247.6d9a6","type":"debug","z":"7d9d09b2.9bb21","name":"","active":true,"console":"false","complete":"false","x":991.8666534423828,"y":249.0166778564453,"wires":[]},{"id":"f60cd17b.43b278","type":"nodebot","z":"","name":"Robot 01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.20","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""}]