Library/robot01/lib/flows/sample/move10sec
[{"id":"989e88d.2400f78","type":"inject","z":"76efe0c5.12bb9","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86.33331298828125,"y":98.3666763305664,"wires":[["f2e2a2ce.0e95c8","8030503.e138c3","37ad8419.8f16fc"]]},{"id":"9891af37.8ac7f8","type":"gpio out","z":"76efe0c5.12bb9","name":"Right","state":"SERVO","pin":"15","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"a0f737e1.294fa","x":780.3333129882812,"y":364.33331298828125,"wires":[]},{"id":"a460bdb1.e8e278","type":"delay","z":"76efe0c5.12bb9","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":297.33331298828125,"y":53.36665344238281,"wires":[["9891af37.8ac7f8","94781c9c.ddc0a"]]},{"id":"f2e2a2ce.0e95c8","type":"template","z":"76efe0c5.12bb9","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":150.33331298828125,"y":54.899993896484375,"wires":[["a460bdb1.e8e278"]]},{"id":"8030503.e138c3","type":"template","z":"76efe0c5.12bb9","name":"Left Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":280.26666259765625,"y":99.26667022705078,"wires":[["94781c9c.ddc0a"]]},{"id":"94781c9c.ddc0a","type":"gpio out","z":"76efe0c5.12bb9","name":"Left","state":"SERVO","pin":"2","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"a0f737e1.294fa","x":749.2666625976562,"y":96.26667022705078,"wires":[]},{"id":"37ad8419.8f16fc","type":"template","z":"76efe0c5.12bb9","name":"Right Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":286.26666259765625,"y":139.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"8aaefb11.6f09f8","type":"gpio in","z":"76efe0c5.12bb9","name":"Left Bumper","state":"INPUT","samplingInterval":"300","pin":"5","board":"a0f737e1.294fa","x":80.33331298828125,"y":176.0333251953125,"wires":[["96052555.b4f39"]]},{"id":"4ef85b8c.ea9c4c","type":"template","z":"76efe0c5.12bb9","name":"Left Slight Back","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":291.26666259765625,"y":366.26666259765625,"wires":[["94781c9c.ddc0a"]]},{"id":"3731a27e.3bd936","type":"template","z":"76efe0c5.12bb9","name":"Right Backward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":292.26666259765625,"y":402.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"d3bb679c.269c58","type":"delay","z":"76efe0c5.12bb9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":102.26666259765625,"y":287.26666259765625,"wires":[["2d89b0a8.02c128","ae5d0ebe.43c608"]]},{"id":"2d89b0a8.02c128","type":"template","z":"76efe0c5.12bb9","name":"Right Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":292.26666259765625,"y":307.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"ae5d0ebe.43c608","type":"template","z":"76efe0c5.12bb9","name":"Left Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":282.26666259765625,"y":266.26666259765625,"wires":[["94781c9c.ddc0a"]]},{"id":"1b492cf0.6e4d93","type":"gpio in","z":"76efe0c5.12bb9","name":"Right Bumper","state":"INPUT","samplingInterval":"300","pin":"4","board":"a0f737e1.294fa","x":85.26666259765625,"y":383.26666259765625,"wires":[["d96792b3.43de"]]},{"id":"880a54ce.546938","type":"template","z":"76efe0c5.12bb9","name":"Left Backward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":290.20001220703125,"y":185.5,"wires":[["94781c9c.ddc0a"]]},{"id":"44a6703.8cad41","type":"template","z":"76efe0c5.12bb9","name":"Right Slight Back","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":300.20001220703125,"y":220.5,"wires":[["9891af37.8ac7f8"]]},{"id":"23c7872e.0d8fc","type":"delay","z":"76efe0c5.12bb9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":117.20001220703125,"y":478.5,"wires":[["a61e7ff4.71f5b","fac54ef0.295398"]]},{"id":"a61e7ff4.71f5b","type":"template","z":"76efe0c5.12bb9","name":"Right Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":293.20001220703125,"y":485.5,"wires":[["9891af37.8ac7f8"]]},{"id":"fac54ef0.295398","type":"template","z":"76efe0c5.12bb9","name":"Left Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":283.20001220703125,"y":444.5,"wires":[["94781c9c.ddc0a"]]},{"id":"8e378a0d.62335","type":"inject","z":"76efe0c5.12bb9","name":"Stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.26666259765625,"y":529.2666625976562,"wires":[["2da729ea.cf5fb6"]]},{"id":"2da729ea.cf5fb6","type":"template","z":"76efe0c5.12bb9","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":456.26666259765625,"y":531.2666625976562,"wires":[["94781c9c.ddc0a","9891af37.8ac7f8"]]},{"id":"a830d846.9ee45","type":"debug","z":"76efe0c5.12bb9","name":"","active":true,"console":"false","complete":"false","x":707.3333129882812,"y":513.7999877929688,"wires":[]},{"id":"96052555.b4f39","type":"switch","z":"76efe0c5.12bb9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":88.33332824707031,"y":229.566650390625,"wires":[["d3bb679c.269c58","880a54ce.546938","44a6703.8cad41"],[]]},{"id":"d96792b3.43de","type":"switch","z":"76efe0c5.12bb9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":106.26666259765625,"y":421.26666259765625,"wires":[["23c7872e.0d8fc","a830d846.9ee45","4ef85b8c.ea9c4c","3731a27e.3bd936"],[]]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.18","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""}]