Library/robot01/lib/flows/sample/TestDrive
[{"id":"3314f085.68dc3","type":"subflow","name":"DriveLeftWheel","info":"Drive the left whel of the Robot","in":[{"x":50,"y":30,"wires":[{"id":"6e248a0e.44e32c"}]}],"out":[{"x":477,"y":78,"wires":[{"id":"6e248a0e.44e32c","port":0}]}]},{"id":"6e248a0e.44e32c","type":"johnny5","z":"3314f085.68dc3","name":"Servo","func":"var servo = new five.Servo(13);\nvar speeds = {\"forward\": 180, \"backward\": 0, \"stop\": 90};\nnode.on('input', function(msg) {\n    if (Number.isInteger(msg.payload)) {\n        servo.to( msg.payload ); \n    } else {\n        servo.to( speeds[msg.payload] ); \n    }\n});\n\n","board":"5f431051.12ae1","noerr":0,"x":294.26666259765625,"y":140.26666259765625,"wires":[[]]},{"id":"5f431051.12ae1","type":"nodebot","z":"","name":"Robot 01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.20","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"a6b5c376.b15be","type":"inject","z":"90b5a861.60b688","name":"20","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"x":149.33331298828125,"y":97.36666870117188,"wires":[["906a80b5.280d78"]]},{"id":"c78a0683.40ae4","type":"inject","z":"90b5a861.60b688","name":"90","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"x":154.26666259765625,"y":153.26666259765625,"wires":[["906a80b5.280d78"]]},{"id":"d30b796d.db574","type":"inject","z":"90b5a861.60b688","name":"100","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"x":160.26666259765625,"y":213.26666259765625,"wires":[["906a80b5.280d78"]]},{"id":"cf6a4871.012908","type":"inject","z":"90b5a861.60b688","name":"180","topic":"","payload":"180","payloadType":"num","repeat":"","crontab":"","once":false,"x":155.26666259765625,"y":274.26666259765625,"wires":[["906a80b5.280d78"]]},{"id":"e5444fc0.4843c","type":"debug","z":"90b5a861.60b688","name":"","active":true,"console":"false","complete":"false","x":664.3333129882812,"y":171.86666870117188,"wires":[]},{"id":"906a80b5.280d78","type":"subflow:3314f085.68dc3","z":"90b5a861.60b688","name":"","x":454.33331298828125,"y":176.36666870117188,"wires":[["e5444fc0.4843c"]]},{"id":"f53939d3.d12578","type":"inject","z":"90b5a861.60b688","name":"forward","topic":"","payload":"forward","payloadType":"str","repeat":"","crontab":"","once":false,"x":145.26666259765625,"y":330.26666259765625,"wires":[["906a80b5.280d78"]]},{"id":"37550505.139be2","type":"inject","z":"90b5a861.60b688","name":"backward","topic":"","payload":"backward","payloadType":"str","repeat":"","crontab":"","once":false,"x":154.26666259765625,"y":383.26666259765625,"wires":[["906a80b5.280d78"]]}]