Library/robot01/.flows_417b362c4989.json.backup
[{"id":"7d9d09b2.9bb21","type":"tab","label":"Flow 1"},{"id":"f60cd17b.43b278","type":"nodebot","z":"","name":"Robot 01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.20","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"c25da227.e8ccc","type":"johnny5","z":"7d9d09b2.9bb21","name":"Draw","func":"var servo = new five.Servo(13);\nvar speeds = {\"forward\": 180, \"backward\": 0, \"stop\": 90};\n\nvar rotate = function(pixels) {\n    var output = [\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"];\n    for (i=0; i<8; i++) {\n        output[i] = pixels[7].substr(i,1) + pixels[6].substr(i,1) + pixels[5].substr(i,1) + pixels[4].substr(i,1) + pixels[3].substr(i,1) + pixels[2].substr(i,1) + pixels[1].substr(i,1) + pixels[0].substr(i,1);\n    }\n    return output;\n}\n\nnode.on('input', function(msg) {\n    var matrix = new five.Led.Matrix({\n    pins: {\n      data: 14,\n      clock: 13,\n      cs: 12\n    },\n    devices: 1\n  });\n\n  var heart = msg.payload;\n  \n  msg.payload = rotate(heart);\n  matrix.draw(rotate(heart));\n  node.send(msg);\n});","board":"f60cd17b.43b278","noerr":0,"x":789.0833129882812,"y":187.08334350585938,"wires":[["d54852b7.214fa"]]},{"id":"d54852b7.214fa","type":"debug","z":"7d9d09b2.9bb21","name":"","active":false,"console":"false","complete":"false","x":978.86669921875,"y":254.01666259765625,"wires":[]},{"id":"bb70e3cc.35d0d8","type":"gpio in","z":"7d9d09b2.9bb21","name":"","state":"INPUT","samplingInterval":"300","pin":"5","board":"f60cd17b.43b278","x":391.86663818359375,"y":153.9666748046875,"wires":[["fc1db580.2d0c6","99fd1c72.b73f08"]]},{"id":"fc1db580.2d0c6","type":"switch","z":"7d9d09b2.9bb21","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":533.8666381835938,"y":95.48332977294922,"wires":[["dddd61be.9c24d"]]},{"id":"658a7735.2c99b","type":"switch","z":"7d9d09b2.9bb21","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":539.0833129882812,"y":290.0833435058594,"wires":[["32e55434.79f96c"]]},{"id":"a5c5ba04.d48b98","type":"gpio in","z":"7d9d09b2.9bb21","name":"","state":"INPUT","samplingInterval":"300","pin":"4","board":"f60cd17b.43b278","x":389.08331298828125,"y":310.56671142578125,"wires":[["658a7735.2c99b","d6d44bd5.6d7a1"]]},{"id":"32e55434.79f96c","type":"function","z":"7d9d09b2.9bb21","name":"","func":"msg.payload = [\n    \"00000000\",\n    \"00100000\",\n    \"01000000\",\n    \"11111111\",\n    \"01000000\",\n    \"00100000\",\n    \"00000000\",\n    \"00000000\"\n  ];\nreturn msg;","outputs":1,"noerr":0,"x":643.8666534423828,"y":245.6499786376953,"wires":[["c25da227.e8ccc"]]},{"id":"dddd61be.9c24d","type":"function","z":"7d9d09b2.9bb21","name":"","func":"msg.payload = [\n    \"00000000\",\n    \"00000100\",\n    \"00000010\",\n    \"11111111\",\n    \"00000010\",\n    \"00000100\",\n    \"00000000\",\n    \"00000000\"\n  ];\nreturn msg;","outputs":1,"noerr":0,"x":661.0833129882812,"y":123.08333587646484,"wires":[["c25da227.e8ccc"]]},{"id":"d6d44bd5.6d7a1","type":"debug","z":"7d9d09b2.9bb21","name":"Left","active":true,"console":"false","complete":"payload","x":571.8666534423828,"y":397.84999084472656,"wires":[]},{"id":"99fd1c72.b73f08","type":"debug","z":"7d9d09b2.9bb21","name":"Right","active":true,"console":"false","complete":"payload","x":461.8666534423828,"y":209.84999084472656,"wires":[]}]