Library/robot01/.flows_9f9b77fd1a4c.json.backup
[{"id":"90b5a861.60b688","type":"tab","label":"Flow 1"},{"id":"3314f085.68dc3","type":"subflow","name":"DriveLeftWheel","info":"Drive the left whel of the Robot","in":[{"x":50,"y":30,"wires":[{"id":"6e248a0e.44e32c"}]}],"out":[{"x":477,"y":78,"wires":[{"id":"6e248a0e.44e32c","port":0}]}]},{"id":"5f431051.12ae1","type":"nodebot","z":"","name":"Robot 01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.20","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"6e248a0e.44e32c","type":"johnny5","z":"3314f085.68dc3","name":"Servo","func":"var servo = new five.Servo(13);\nvar speeds = {\"forward\": 180, \"backward\": 0, \"stop\": 90};\nnode.on('input', function(msg) {\n    if (Number.isInteger(msg.payload)) {\n        servo.to( msg.payload ); \n    } else {\n        servo.to( speeds[msg.payload] ); \n    }\n});\n\n","board":"5f431051.12ae1","noerr":0,"x":294.26666259765625,"y":140.26666259765625,"wires":[[]]},{"id":"7cc6be4b.6e625","type":"johnny5","z":"90b5a861.60b688","name":"Servo","func":"var servo = new five.Servo(13);\nvar speeds = {\"forward\": 180, \"backward\": 0, \"stop\": 90};\nnode.on('input', function(msg) {\n    if (Number.isInteger(msg.payload)) {\n        servo.to( msg.payload ); \n    } else {\n        servo.to( speeds[msg.payload] ); \n    }\n   node.send(msg);\n});\n\n","board":"5f431051.12ae1","noerr":0,"x":365,"y":415.26666259765625,"wires":[["95b70151.f583a","a1901025.adab4"]]},{"id":"8115f5d6.6ff5e8","type":"delay","z":"90b5a861.60b688","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":469.23333740234375,"y":247,"wires":[["c160ecc4.59e42"]]},{"id":"dc3f19b2.4f2548","type":"inject","z":"90b5a861.60b688","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":270.23333740234375,"y":221,"wires":[["7cc6be4b.6e625"]]},{"id":"42aecc48.91dcb4","type":"delay","z":"90b5a861.60b688","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680.7333374023438,"y":232,"wires":[["38d1b3ca.25bfcc"]]},{"id":"95b70151.f583a","type":"template","z":"90b5a861.60b688","name":"180","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"forward","x":430.23333740234375,"y":176,"wires":[["8115f5d6.6ff5e8"]]},{"id":"dab2300.e0411d","type":"template","z":"90b5a861.60b688","name":"0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"stop","x":630.7333374023438,"y":179,"wires":[["42aecc48.91dcb4"]]},{"id":"c160ecc4.59e42","type":"johnny5","z":"90b5a861.60b688","name":"Servo","func":"var servo = new five.Servo(13);\nvar speeds = {\"forward\": 180, \"backward\": 0, \"stop\": 90};\nnode.on('input', function(msg) {\n    if (Number.isInteger(msg.payload)) {\n        servo.to( msg.payload ); \n    } else {\n        servo.to( speeds[msg.payload] ); \n    }\n   node.send(msg);\n});\n\n","board":"5f431051.12ae1","noerr":0,"x":541.7333374023438,"y":398,"wires":[["dab2300.e0411d"]]},{"id":"38d1b3ca.25bfcc","type":"johnny5","z":"90b5a861.60b688","name":"Servo","func":"var servo = new five.Servo(13);\nvar speeds = {\"forward\": 180, \"backward\": 0, \"stop\": 90};\nnode.on('input', function(msg) {\n    if (Number.isInteger(msg.payload)) {\n        servo.to( msg.payload ); \n    } else {\n        servo.to( speeds[msg.payload] ); \n    }\n   node.send(msg);\n});\n\n","board":"5f431051.12ae1","noerr":0,"x":749.7333374023438,"y":399,"wires":[[]]},{"id":"a1901025.adab4","type":"debug","z":"90b5a861.60b688","name":"","active":true,"console":"false","complete":"false","x":489.23333740234375,"y":473,"wires":[]}]