Library/robot01/flows_04c7ab01163d.json
[{"id":"76efe0c5.12bb9","type":"tab","label":"Drive"},{"id":"73866db.c63b114","type":"tab","label":"Display"},{"id":"2f230e36.0e2a72","type":"subflow","name":"L Bumped","info":"Sends signal when the left bunper is bumped","in":[],"out":[{"x":218.3333282470703,"y":229.566650390625,"wires":[{"id":"96052555.b4f39","port":0}]}]},{"id":"6b7f3496.d937cc","type":"subflow","name":"R Bumped","info":"Sends a signal when ther right bumper is bumped","in":[],"out":[{"x":236.26666259765625,"y":421.26666259765625,"wires":[{"id":"d96792b3.43de","port":0}]}]},{"id":"d101a9f0.3f5138","type":"subflow","name":"Drive Fwd","info":"Drive the robot forward","in":[{"x":50,"y":30,"wires":[{"id":"6e9d907a.b133"},{"id":"7ed9d747.4b294"}]}],"out":[]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.18","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"989e88d.2400f78","type":"inject","z":"76efe0c5.12bb9","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86.33331298828125,"y":98.3666763305664,"wires":[["f2e2a2ce.0e95c8","37ad8419.8f16fc","8030503.e138c3"]]},{"id":"9891af37.8ac7f8","type":"gpio out","z":"76efe0c5.12bb9","name":"Right","state":"SERVO","pin":"2","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"a0f737e1.294fa","x":510.33331298828125,"y":180.33331298828125,"wires":[]},{"id":"a460bdb1.e8e278","type":"delay","z":"76efe0c5.12bb9","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":297.33331298828125,"y":53.36665344238281,"wires":[["9891af37.8ac7f8","94781c9c.ddc0a"]]},{"id":"f2e2a2ce.0e95c8","type":"template","z":"76efe0c5.12bb9","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":150.33331298828125,"y":54.899993896484375,"wires":[["a460bdb1.e8e278"]]},{"id":"94781c9c.ddc0a","type":"gpio out","z":"76efe0c5.12bb9","name":"Left","state":"SERVO","pin":"15","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"a0f737e1.294fa","x":509.26666259765625,"y":109.26667022705078,"wires":[]},{"id":"8aaefb11.6f09f8","type":"gpio in","z":"2f230e36.0e2a72","name":"Left Bumper","state":"INPUT","samplingInterval":"300","pin":"5","board":"a0f737e1.294fa","x":80.33331298828125,"y":176.0333251953125,"wires":[["96052555.b4f39"]]},{"id":"3731a27e.3bd936","type":"template","z":"76efe0c5.12bb9","name":"Right Backward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":288.26666259765625,"y":222.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"d3bb679c.269c58","type":"delay","z":"76efe0c5.12bb9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":102.26666259765625,"y":287.26666259765625,"wires":[["2d89b0a8.02c128","ae5d0ebe.43c608"]]},{"id":"2d89b0a8.02c128","type":"template","z":"76efe0c5.12bb9","name":"Right Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":292.26666259765625,"y":307.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"ae5d0ebe.43c608","type":"template","z":"76efe0c5.12bb9","name":"Left Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":282.26666259765625,"y":266.26666259765625,"wires":[["94781c9c.ddc0a"]]},{"id":"1b492cf0.6e4d93","type":"gpio in","z":"6b7f3496.d937cc","name":"Right Bumper","state":"INPUT","samplingInterval":"300","pin":"4","board":"a0f737e1.294fa","x":85.26666259765625,"y":383.26666259765625,"wires":[["d96792b3.43de"]]},{"id":"880a54ce.546938","type":"template","z":"76efe0c5.12bb9","name":"Left Backward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":288.20001220703125,"y":369.5,"wires":[["94781c9c.ddc0a"]]},{"id":"23c7872e.0d8fc","type":"delay","z":"76efe0c5.12bb9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":117.20001220703125,"y":478.5,"wires":[["a61e7ff4.71f5b","fac54ef0.295398"]]},{"id":"a61e7ff4.71f5b","type":"template","z":"76efe0c5.12bb9","name":"Right Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":293.20001220703125,"y":485.5,"wires":[["9891af37.8ac7f8"]]},{"id":"fac54ef0.295398","type":"template","z":"76efe0c5.12bb9","name":"Left Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":283.20001220703125,"y":444.5,"wires":[["94781c9c.ddc0a"]]},{"id":"8e378a0d.62335","type":"inject","z":"76efe0c5.12bb9","name":"Stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.26666259765625,"y":529.2666625976562,"wires":[["2da729ea.cf5fb6"]]},{"id":"2da729ea.cf5fb6","type":"template","z":"76efe0c5.12bb9","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":327.26666259765625,"y":540.2666625976562,"wires":[["94781c9c.ddc0a","9891af37.8ac7f8","d3080a7b.79d9d8"]]},{"id":"96052555.b4f39","type":"switch","z":"2f230e36.0e2a72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":88.33332824707031,"y":229.566650390625,"wires":[[],[]]},{"id":"d96792b3.43de","type":"switch","z":"6b7f3496.d937cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":106.26666259765625,"y":421.26666259765625,"wires":[[],[]]},{"id":"f511767f.73637","type":"subflow:2f230e36.0e2a72","z":"76efe0c5.12bb9","name":"","x":94.33332061767578,"y":202.79998779296875,"wires":[["d3bb679c.269c58","652e0a57.609e14","3731a27e.3bd936"]]},{"id":"15d6826b.95ed9e","type":"subflow:6b7f3496.d937cc","z":"76efe0c5.12bb9","x":95.76666259765625,"y":402.26666259765625,"wires":[["23c7872e.0d8fc","b2baba0.0b75d48","880a54ce.546938"]]},{"id":"652e0a57.609e14","type":"template","z":"76efe0c5.12bb9","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":259.26666259765625,"y":186.26666259765625,"wires":[["94781c9c.ddc0a"]]},{"id":"b2baba0.0b75d48","type":"template","z":"76efe0c5.12bb9","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"90","x":257.26666259765625,"y":403.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"6e9d907a.b133","type":"template","z":"d101a9f0.3f5138","name":"Left Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":248.26666259765625,"y":43.26667022705078,"wires":[["d3d4f853.fc88"]]},{"id":"7ed9d747.4b294","type":"template","z":"d101a9f0.3f5138","name":"Right Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":254.26666259765625,"y":83.26666259765625,"wires":[["e784ae2a.b6a73"]]},{"id":"d3d4f853.fc88","type":"gpio out","z":"d101a9f0.3f5138","name":"Left","state":"SERVO","pin":"15","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"a0f737e1.294fa","x":461.26666259765625,"y":35.26667022705078,"wires":[]},{"id":"e784ae2a.b6a73","type":"gpio out","z":"d101a9f0.3f5138","name":"Right","state":"SERVO","pin":"2","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"a0f737e1.294fa","x":464.33331298828125,"y":86.33332061767578,"wires":[]},{"id":"37ad8419.8f16fc","type":"template","z":"76efe0c5.12bb9","name":"Right Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","x":286.26666259765625,"y":139.26666259765625,"wires":[["9891af37.8ac7f8"]]},{"id":"8030503.e138c3","type":"template","z":"76efe0c5.12bb9","name":"Left Forward","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"180","x":280.26666259765625,"y":99.26667022705078,"wires":[["94781c9c.ddc0a"]]},{"id":"d3080a7b.79d9d8","type":"link out","z":"76efe0c5.12bb9","name":"STOPPED","links":["468f7a01.4b224c","e6c52665.96e89","9eab1892.664878"],"x":504.33331298828125,"y":353.433349609375,"wires":[]},{"id":"6a446726.75def","type":"johnny5","z":"73866db.c63b114","name":"Draw","func":"var rotate = function(pixels) {\n    var output = [\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"];\n    for (i=0; i<8; i++) {\n        output[i] = pixels[7].substr(i,1) + pixels[6].substr(i,1) + pixels[5].substr(i,1) + pixels[4].substr(i,1) + pixels[3].substr(i,1) + pixels[2].substr(i,1) + pixels[1].substr(i,1) + pixels[0].substr(i,1);\n    }\n    return output;\n}\n\nvar matrix = new five.Led.Matrix({\n  pins: {\n    data: 14,\n    clock: 13,\n    cs: 12\n  },\n  devices: 1\n});\n\nnode.on('input', function(msg) {\n  matrix.draw(rotate(msg.payload));\n});","board":"a0f737e1.294fa","noerr":0,"x":522.2666625976562,"y":234,"wires":[[]]},{"id":"9651c4b0.21d578","type":"function","z":"73866db.c63b114","name":"Straight Face","func":"var heart = [\n    \"11100111\",\n    \"10100101\",\n    \"11100111\",\n    \"00000000\",\n    \"00000000\",\n    \"01000010\",\n    \"00111100\",\n    \"00000000\"\n  ];\n  msg.payload = heart;\nreturn msg;","outputs":1,"noerr":0,"x":286.26666259765625,"y":87.00000762939453,"wires":[["e1817200.2fb7c8"]]},{"id":"de3ef0a3.7eac2","type":"function","z":"73866db.c63b114","name":"OH Face","func":"var heart = [\n    \"00000000\",\n    \"11100111\",\n    \"00000000\",\n    \"00000000\",\n    \"00011000\",\n    \"00100100\",\n    \"00100100\",\n    \"00011000\"\n  ];\n  msg.payload = heart;\nreturn msg;","outputs":1,"noerr":0,"x":281.26666259765625,"y":169.99999237060547,"wires":[["6a446726.75def"]]},{"id":"e1817200.2fb7c8","type":"delay","z":"73866db.c63b114","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":402.33331298828125,"y":132.73333740234375,"wires":[["6a446726.75def"]]},{"id":"814420ab.d31ab8","type":"function","z":"73866db.c63b114","name":"Meh Face","func":"var heart = [\n    \"00000000\",\n    \"00000000\",\n    \"11100111\",\n    \"00000000\",\n    \"00000000\",\n    \"00000000\",\n    \"00011100\",\n    \"00000000\"\n  ];\n  msg.payload = heart;\nreturn msg;","outputs":1,"noerr":0,"x":279.26666259765625,"y":280,"wires":[["6a446726.75def"]]},{"id":"9eab1892.664878","type":"link in","z":"73866db.c63b114","name":"STOP","links":["d3080a7b.79d9d8"],"x":130.33331298828125,"y":281,"wires":[["814420ab.d31ab8"]]},{"id":"748b2d1c.643334","type":"subflow:2f230e36.0e2a72","z":"73866db.c63b114","x":90.33332824707031,"y":95.36666870117188,"wires":[["de3ef0a3.7eac2","9651c4b0.21d578"]]},{"id":"18d348d6.82fe4f","type":"subflow:6b7f3496.d937cc","z":"73866db.c63b114","x":95.33332824707031,"y":136.83331298828125,"wires":[["de3ef0a3.7eac2","9651c4b0.21d578"]]}]