Library/robot01/lib/flows/Demo/Animate
[{"id":"2f230e36.0e2a72","type":"subflow","name":"L Bumped","info":"Sends signal when the left bunper is bumped","in":[],"out":[{"x":218.3333282470703,"y":229.566650390625,"wires":[{"id":"96052555.b4f39","port":0}]}]},{"id":"8aaefb11.6f09f8","type":"gpio in","z":"2f230e36.0e2a72","name":"Left Bumper","state":"INPUT","samplingInterval":"300","pin":"5","board":"a0f737e1.294fa","x":80.33331298828125,"y":176.0333251953125,"wires":[["96052555.b4f39"]]},{"id":"96052555.b4f39","type":"switch","z":"2f230e36.0e2a72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":88.33332824707031,"y":229.566650390625,"wires":[[],[]]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.81","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"6b7f3496.d937cc","type":"subflow","name":"R Bumped","info":"Sends a signal when ther right bumper is bumped","in":[],"out":[{"x":236.26666259765625,"y":421.26666259765625,"wires":[{"id":"d96792b3.43de","port":0}]}]},{"id":"1b492cf0.6e4d93","type":"gpio in","z":"6b7f3496.d937cc","name":"Right Bumper","state":"INPUT","samplingInterval":"300","pin":"4","board":"a0f737e1.294fa","x":85.26666259765625,"y":383.26666259765625,"wires":[["d96792b3.43de"]]},{"id":"d96792b3.43de","type":"switch","z":"6b7f3496.d937cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":106.26666259765625,"y":421.26666259765625,"wires":[[],[]]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.81","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"b46c302e.0f61c","type":"matrix","z":"73866db.c63b114","name":"Right 4","sprite":["00000000","11000000","11000000","00000000","00000000","00000000","00000000","00000000"],"x":464.20001220703125,"y":345.20001220703125,"wires":[["6a446726.75def"]]},{"id":"6a446726.75def","type":"johnny5","z":"73866db.c63b114","name":"Draw","func":"var rotate = function(pixels) {\n    var output = [\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"];\n    for (i=0; i<8; i++) {\n        output[i] = pixels[7].substr(i,1) + pixels[6].substr(i,1) + pixels[5].substr(i,1) + pixels[4].substr(i,1) + pixels[3].substr(i,1) + pixels[2].substr(i,1) + pixels[1].substr(i,1) + pixels[0].substr(i,1);\n    }\n    return output;\n}\n\nvar matrix = new five.Led.Matrix({\n  pins: {\n    data: 14,\n    clock: 13,\n    cs: 12\n  },\n  devices: 1\n});\n\nnode.on('input', function(msg) {\n  matrix.draw(rotate(msg.payload));\n});","board":"a0f737e1.294fa","noerr":0,"x":629.2666625976562,"y":179.99998474121094,"wires":[[]]},{"id":"ce90a51.886c4d8","type":"delay","z":"73866db.c63b114","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":301.1999969482422,"y":350.20001220703125,"wires":[["b46c302e.0f61c"]]},{"id":"5dd2b9a6.a2b59","type":"matrix","z":"73866db.c63b114","name":"Right 1","sprite":["00000000","00000011","00000011","00000000","00000000","00000000","00000000","00000000"],"x":464.20001220703125,"y":220.1999969482422,"wires":[["6a446726.75def","ce63b15b.d2402"]]},{"id":"ed65140d.9f88a8","type":"matrix","z":"73866db.c63b114","name":"Right 2","sprite":["00000000","00001100","00001100","00000000","00000000","00000000","00000000","00000000"],"x":462.20001220703125,"y":259.1999969482422,"wires":[["6a446726.75def","a99faa5a.35d98"]]},{"id":"35e0effc.34797","type":"matrix","z":"73866db.c63b114","name":"Right 3","sprite":["00000000","00110000","00110000","00000000","00000000","00000000","00000000","00000000"],"x":465.20001220703125,"y":304.20001220703125,"wires":[["6a446726.75def","ce90a51.886c4d8"]]},{"id":"67cefece.46e53","type":"matrix","z":"73866db.c63b114","name":"Left 4","sprite":["00000000","00000011","00000011","00000000","00000000","00000000","00000000","00000000"],"x":462.20001220703125,"y":21,"wires":[["6a446726.75def"]]},{"id":"7c0074d2.cf1ddc","type":"matrix","z":"73866db.c63b114","name":"Left 3","sprite":["00000000","00001100","00001100","00000000","00000000","00000000","00000000","00000000"],"x":460.20001220703125,"y":60,"wires":[["c5afb143.adfa6","6a446726.75def"]]},{"id":"8745c5ea.1ba7c","type":"matrix","z":"73866db.c63b114","name":"Left 2","sprite":["00000000","00110000","00110000","00000000","00000000","00000000","00000000","00000000"],"x":463.20001220703125,"y":105.00001525878906,"wires":[["51ab9b81.e73584","6a446726.75def"]]},{"id":"efd8dcb4.1acd98","type":"matrix","z":"73866db.c63b114","name":"Left 1","sprite":["00000000","11000000","11000000","00000000","00000000","00000000","00000000","00000000"],"x":462.20001220703125,"y":146.00001525878906,"wires":[["ed895850.262a6","6a446726.75def"]]},{"id":"18d348d6.82fe4f","type":"subflow:6b7f3496.d937cc","z":"73866db.c63b114","x":111.33332824707031,"y":199.83331298828125,"wires":[["5dd2b9a6.a2b59"]]},{"id":"ce63b15b.d2402","type":"delay","z":"73866db.c63b114","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":311.49998474121094,"y":260.40000915527344,"wires":[["ed65140d.9f88a8"]]},{"id":"a99faa5a.35d98","type":"delay","z":"73866db.c63b114","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":305.1999969482422,"y":305.20001220703125,"wires":[["35e0effc.34797"]]},{"id":"c5afb143.adfa6","type":"delay","z":"73866db.c63b114","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":318.20001220703125,"y":22.000015258789062,"wires":[["67cefece.46e53"]]},{"id":"51ab9b81.e73584","type":"delay","z":"73866db.c63b114","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":319.49998474121094,"y":61.20001220703125,"wires":[["7c0074d2.cf1ddc"]]},{"id":"ed895850.262a6","type":"delay","z":"73866db.c63b114","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":313.1999969482422,"y":106.00001525878906,"wires":[["8745c5ea.1ba7c"]]},{"id":"748b2d1c.643334","type":"subflow:2f230e36.0e2a72","z":"73866db.c63b114","x":113.33332824707031,"y":164.36666870117188,"wires":[["efd8dcb4.1acd98"]]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.81","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""}]