Library/robot01/lib/flows/Demo/Display
[{"id":"6b7f3496.d937cc","type":"subflow","name":"R Bumped","info":"Sends a signal when ther right bumper is bumped","in":[],"out":[{"x":236.26666259765625,"y":421.26666259765625,"wires":[{"id":"d96792b3.43de","port":0}]}]},{"id":"1b492cf0.6e4d93","type":"gpio in","z":"6b7f3496.d937cc","name":"Right Bumper","state":"INPUT","samplingInterval":"300","pin":"4","board":"a0f737e1.294fa","x":85.26666259765625,"y":383.26666259765625,"wires":[["d96792b3.43de"]]},{"id":"d96792b3.43de","type":"switch","z":"6b7f3496.d937cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":106.26666259765625,"y":421.26666259765625,"wires":[[],[]]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.18","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"2f230e36.0e2a72","type":"subflow","name":"L Bumped","info":"Sends signal when the left bunper is bumped","in":[],"out":[{"x":218.3333282470703,"y":229.566650390625,"wires":[{"id":"96052555.b4f39","port":0}]}]},{"id":"8aaefb11.6f09f8","type":"gpio in","z":"2f230e36.0e2a72","name":"Left Bumper","state":"INPUT","samplingInterval":"300","pin":"5","board":"a0f737e1.294fa","x":80.33331298828125,"y":176.0333251953125,"wires":[["96052555.b4f39"]]},{"id":"96052555.b4f39","type":"switch","z":"2f230e36.0e2a72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":88.33332824707031,"y":229.566650390625,"wires":[[],[]]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.18","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"8742dc5b.58a59","type":"johnny5","z":"fc3512bd.576278","name":"Draw","func":"var rotate = function(pixels) {\n    var output = [\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"];\n    for (i=0; i<8; i++) {\n        output[i] = pixels[7].substr(i,1) + pixels[6].substr(i,1) + pixels[5].substr(i,1) + pixels[4].substr(i,1) + pixels[3].substr(i,1) + pixels[2].substr(i,1) + pixels[1].substr(i,1) + pixels[0].substr(i,1);\n    }\n    return output;\n}\n\nvar matrix = new five.Led.Matrix({\n  pins: {\n    data: 14,\n    clock: 13,\n    cs: 12\n  },\n  devices: 1\n});\n\nnode.on('input', function(msg) {\n  matrix.draw(rotate(msg.payload));\n});","board":"a0f737e1.294fa","noerr":0,"x":447.26666259765625,"y":120.26667022705078,"wires":[[]]},{"id":"85c18bf1.3057e","type":"function","z":"fc3512bd.576278","name":"Straight Face","func":"var heart = [\n    \"11100111\",\n    \"10100101\",\n    \"11100111\",\n    \"00000000\",\n    \"00000000\",\n    \"01000010\",\n    \"00111100\",\n    \"00000000\"\n  ];\n  msg.payload = heart;\nreturn msg;","outputs":1,"noerr":0,"x":299.26666259765625,"y":200.26666259765625,"wires":[["1b26b55f.3f1063"]]},{"id":"45ca736e.e32e0c","type":"function","z":"fc3512bd.576278","name":"OH face","func":"var heart = [\n    \"00000000\",\n    \"11100111\",\n    \"00000000\",\n    \"00000000\",\n    \"00011000\",\n    \"00100100\",\n    \"00100100\",\n    \"00011000\"\n  ];\n  msg.payload = heart;\nreturn msg;","outputs":1,"noerr":0,"x":301.26666259765625,"y":120.26666259765625,"wires":[["8742dc5b.58a59"]]},{"id":"da78e8d0.885e38","type":"subflow:2f230e36.0e2a72","z":"fc3512bd.576278","x":138.33331298828125,"y":120.36666870117188,"wires":[["45ca736e.e32e0c","85c18bf1.3057e"]]},{"id":"4cacadc9.4693ec","type":"subflow:6b7f3496.d937cc","z":"fc3512bd.576278","x":140.33331298828125,"y":160.83331298828125,"wires":[["45ca736e.e32e0c","85c18bf1.3057e"]]},{"id":"1b26b55f.3f1063","type":"delay","z":"fc3512bd.576278","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":464.33331298828125,"y":201,"wires":[["8742dc5b.58a59"]]},{"id":"b246a781.d5ee38","type":"function","z":"fc3512bd.576278","name":"Meep why face","func":"var heart = [\n    \"00000000\",\n    \"00000000\",\n    \"11100111\",\n    \"00000000\",\n    \"00000000\",\n    \"00000000\",\n    \"00011100\",\n    \"00000000\"\n  ];\n  msg.payload = heart;\nreturn msg;","outputs":1,"noerr":0,"x":309.26666259765625,"y":276.26666259765625,"wires":[["8742dc5b.58a59"]]},{"id":"468f7a01.4b224c","type":"link in","z":"fc3512bd.576278","name":"STOP","links":["d3080a7b.79d9d8"],"x":151.33331298828125,"y":279.26666259765625,"wires":[["b246a781.d5ee38"]]},{"id":"a0f737e1.294fa","type":"nodebot","z":"","name":"Robot01","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.1.18","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""}]